*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.home-background{
    background-color: #F0FFF0;
    padding: 80px 0;
}

.home-background img{
    width: 100%;
}

.home-background p{
    color: #F8926A;
}

.home-background h1{
    font-weight: 700;
    font-size: 50px;
}

.home-background h1 span{
    color: #21B573;
}

.home-background h6{
    color: darkgray;
    font-weight: 300;
}

.buy-course-button{
    background-color: #21B573;
    color: white;
    border: none;
    padding: 9px 25px;
    cursor: pointer;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
}

.buy-course-button:hover{
    background-color: #00b664;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}

.book-card{
    margin-top: 100px;
}

.book-card-content{
    border: none;
    background-color: #edfdf4;
    padding: 30px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.book-card-content:hover{
    box-shadow: 5px 5px 10px lightgray;
    background-color: whitesmoke;
    cursor: pointer;
}

.book-card-text-edit h5{
    color: #5900ac;
    font-weight: 500;
}

.book-card-text-edit p{
    color: darkgray;
    font-weight: 300;
}

#courses{
    margin-top: 100px;
}

.courses-text{
    text-align: center;
}

.courses-text h1{
    text-align: center;
    position: relative;
    display: inline-block;
    color: #413960;
    font-weight: 700;
}

.courses-text::after{
    width: 150px;
    height: 4px;
    content: '';
    left: 45%;
    background-image: linear-gradient(to right, #E5F8E5, #7cf37c);
    position: absolute;
    display: block;
    border-radius: 30%;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

.courses-card{
    border: none;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.courses-card:hover{
    box-shadow: 5px 5px 30px lightgray;
    background-color: whitesmoke;
}

.courses-image img{
    padding: 15px 15px;
    background-color: #edfdf4;
}

.courses-card-content{
    background-color: #edfdf4;
}

.courses-card-content h5{
    color: #7d72a7;
    font-weight: 600;
    font-size: 25px;
}

.courses-card-content p{
    color: darkgray;
}

.courses-card-footer{
    border-top:none ;
}

#blog{
    margin-top: 100px;
}

.blog-head-text h1{
    text-align: center;
    color: #413960;
    font-weight: 700;
}

.blog-content{
    margin-top: 100px;
}

.blog-p{
    color: #757272;
    font-weight: 300;
}

.footer{
    margin-top: 100px;
    background-color: #282531;
    color: whitesmoke;
    padding: 100px 0px;
}

.footer-edit h5{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 25px;
}

.footer-edit p{
    color: lightgray;
}

.copyright{
    background-color: #282531;
}

.copyright p{
    color: darkgray;
    font-weight: 300;
}